<nav id="site-nav">
  <a href="{{ '/originals.html' | relative_url }}" class="{% if page.nav == 'originals' %}active{% endif %}" id="nav-videos">Originals</a>
  <a href="{{ '/covers.html' | relative_url }}" class="{% if page.nav == 'covers' %}active{% endif %}" id="nav-music">Covers</a>
  <a href="{{ '/gear.html' | relative_url }}" class="{% if page.nav == 'gear' %}active{% endif %}" id="nav-gear">Gear</a>
  <a href="{{ '/about.html' | relative_url }}" class="{% if page.nav == 'about' %}active{% endif %}" id="nav-about">About Me</a>
  <a href="{{ '/shows.html' | relative_url }}" class="{% if page.nav == 'shows' %}active{% endif %}" id="nav-shows">Shows</a>
  <a href="{{ '/' | relative_url }}" class="{% if page.nav == 'news' %}active{% endif %}" id="nav-news">News</a>
  <a href="{{ '/fretdle.html' | relative_url }}" class="{% if page.nav == 'fretdle' %}active{% endif %}" id="nav-game">Fretdle</a>
  <a href="{{ '/matrix.html' | relative_url }}" class="{% if page.nav == 'matrix' %}active{% endif %}" id="nav-matrix">The Matrix</a>
</nav>
